* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh;
  text-align: center;
  nav {
    padding: 1rem;
    a {
      padding: 1rem;
      text-decoration: none;
      color: rgb(19, 19, 19);
      &:hover {
        background: black;
        color: whitesmoke;
      }
    }
  }
  .homeContainer {
    margin: 0 auto;
    width: 75%;
    h1 {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    .article {
      text-align: start;
      border: 1px solid lightgrey;
      padding: 2rem;
      margin: 1rem;
      div {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        a {
          text-decoration: none;
          background: black;
          color: whitesmoke;
          border: none;
          border-radius: 10px;
          padding: 0.5rem;
        }
        button {
          background: white;
          color: lightgrey;
          border: none;
          &:hover {
            color: black;
            cursor: pointer;
          }
        }
      }
      &:hover {
        box-shadow: 0 0 3px 0px black;
      }
    }
  }

  .contactContainer,
  .newPostContainer {
    margin-top: 2rem;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      .input {
        padding: 0.5rem;
        border-radius: 8px;

        width: 500px;
        margin: 0.5rem;
      }
      button {
        background: black;
        color: lightgrey;
        border: none;
        border-radius: 8px;
        padding: 0.5rem;
        width: 300px;
        &:hover {
          color: black;
          background: whitesmoke;
          border: 1px solid black;
          cursor: pointer;
        }
      }
    }
  }
  .articlesContainer {
    div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 75%;
      margin: 0 auto;
      margin-top: 3rem;
    }
  }
}

.App.dark {
  background: black;
  color: white;
  nav a {
    color: white;
    &:hover {
      background: white;
      color: black;
    }
  }
  .link.dark {
    background: white;
    color: black;
  }
  .delete.dark {
    background: black;
    color: rgb(32, 32, 32);
    &:hover {
      color: white;
    }
  }
  .button.dark {
    background: white;
    color: black;
    &:hover {
      background: black;
      border: 1px solid white;
      color: white;
    }
  }
}
